.line-background {
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f9f9fb;
  z-index: -101;
  .line {
    border-left: 2px dashed #f0f0f6;
    width: 100%;
    &:first-child {
      border: none;
    }
  }
}
