// Colors
:root {
  --color-text-1: #000;
  --color-text-2: #1a1a1b;
  --color-text-3: #252527;
  --color-text-4: #32363b;
  --color-text-5: #4d5055;
  --color-text-6: #58555e;
  --color-text-7: #777380;

  --color-main-1: #631ffe;
  --color-main-2: #7134ff;
  --color-main-3: #814bff;
  --color-main-4: #9162ff;
  --color-main-5: #a27aff;
  --color-main-6: #ab88ff;
  --color-main-7: #bfa3ff;
  --color-main-8: #d6c4ff;
  --color-main-9: #e1d4ff;
  --color-main-10: #eee6ff;
  --color-main-11: #f5f1ff;

  --color-background-1: #ffffff;
  --color-background-2: #f9f9fb;
  --color-background-3: #ebebee;
  --color-background-4: #dddde7;
  --color-background-5: #ceced8;
  --color-background-6: #d4d4e0;
  --color-background-7: #c2c2ce;

  --box-shadow-medium: #959da533 0px 8px 24px;
  --box-shadow-medium-color: #959da533;

  --color-icon-1: #1a1a1b;
  --color-icon-2: #292d32;

  --color-white: #ffffff;
  --color-ripple-1: #a6a6b1;
}

body.dark-theme {
  --color-text-1: #e6e7eb;
  --color-text-2: #dddfe6;
  --color-text-3: #cdd0d3;
  --color-text-4: #cccccc;
  --color-text-5: #bebebe;
  --color-text-6: #a2a0a7;
  --color-text-7: #a4a1ac;

  --color-main-1: #631ffe;
  --color-main-2: #7134ff;
  --color-main-3: #814bff;
  --color-main-4: #9162ff;
  --color-main-5: #a27aff;
  --color-main-6: #ab88ff;
  --color-main-7: #bfa3ff;
  --color-main-8: #d6c4ff;
  --color-main-9: #e1d4ff;
  --color-main-10: #eee6ff;
  --color-main-11: #f5f1ff;

  --color-background-1: #060606;
  --color-background-2: #0a0a0a;
  --color-background-3: #181818;
  --color-background-4: #2b2b2b;
  --color-background-5: #333333;
  --color-background-6: #34343a;
  --color-background-7: #44444d;

  --box-shadow-medium: #00000033 0px 8px 24px;
  --box-shadow-medium-color: #00000033;

  --color-icon-1: #f3f3f3;
  --color-icon-2: #cfd3d6;

  --color-white: #ffffff;

  --color-ripple-1: #160f0f;
  --color-transparent-background-1: rgba(0, 0, 0, 0.6);
}
